python-dotenv

numpy
Pillow
matplotlib
scikit-image
opencv-python
h5py

nibabel==5.4.2
pydicom==3.0.2

torch==2.6.0
diffusers
transformers
accelerate
safetensors
huggingface-hub

sentence-transformers
faiss-cpu

google-genai